* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}


html {
    font-family: 'Courier New', Courier, monospace;
    background: #111;
    color: #eee;
    scroll-behavior: smooth;
   }

body {
    padding: 3rem;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor:pointer;
    color: #26bebe;
    transition: ease-in-out;
    transition-delay: 0.2s;
}


.navigation {
    text-align: left;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    position: fixed;
}


.title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding: 1rem;
    padding-left: 0;
    text-align: left;
}


fieldset {
    border-style: none;
    margin-top: 7rem;
    width: 60%;
}


legend {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.home, div {
    padding-top: 3rem;
}

.end {
    height: 1000px;
}
